// Цветовая палитра
@white: #ffffff;
@black: #1f1e1e;
@gray: #dedede;
@red: #bc3324;

@black_disabled: #BFBFBF;

@red_dark: #a51505;
@gray_dark: #bfbfbf;

@black_80: fade(@black, 80%);
@black_40: fade(@black, 40%);
@black_3:  fade(@black, 3%);

// Шрифты
@font_open_sans: "Open Sans", sans-serif;
@font_lora: "Lora", serif;
@font_mak: "mak", serif;

@font_size: 16px;
@font_size_s: (@font_size / 1.25);
